<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="notes"
      type="System.Configuration.DictionarySectionHandler" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<notes>
	<add key="60" value="261.6"/>
	<add key="96" value="2093.0"/>
	<add key="61" value="277.2"/>
	<add key="97" value="2217.5"/>
	<add key="62" value="293.7"/>
	<add key="98" value="2349.3"/>
	<add key="63" value="311.1"/>
	<add key="99" value="2489.0"/>
	<add key="64" value="329.6"/>
	<add key="100" value="2637.0"/>
	<add key="65" value="349.2"/>
	<add key="101" value="2793.8"/>
	<add key="66" value="370.0"/>
	<add key="102" value="2960.0"/>
	<add key="31" value="49.0"/>
	<add key="67" value="392.0"/>
	<add key="103" value="3136.0"/>
	<add key="32" value="51.0"/>
	<add key="68" value="415.3"/>
	<add key="104" value="3322.4"/>
	<add key="33" value="55.0"/>
	<add key="69" value="440.0"/>
	<add key="105" value="3520.0"/>
	<add key="34" value="58.3"/>
	<add key="70" value="466.2"/>
	<add key="106" value="3729.3"/>
	<add key="35" value="61.7"/>
	<add key="71" value="493.9"/>
	<add key="107" value="3951.1"/>
	<add key="36" value="65.4"/>
	<add key="72" value="523.3"/>
	<add key="108" value="4186.0"/>
	<add key="37" value="69.3"/>
	<add key="73" value="554.4"/>
	<add key="109" value="4434.9"/>
	<add key="38" value="73.4"/>
	<add key="74" value="587.3"/>
	<add key="110" value="4698.6"/>
	<add key="39" value="77.8"/>
	<add key="75" value="622.3"/>
	<add key="111" value="4978.0"/>
	<add key="40" value="82.4"/>
	<add key="76" value="659.3"/>
	<add key="112" value="5274.0"/>
	<add key="41" value="87.3"/>
	<add key="77" value="698.5"/>
	<add key="113" value="5587.7"/>
	<add key="42" value="92.5"/>
	<add key="78" value="740.0"/>
	<add key="114" value="5919.9"/>
	<add key="43" value="98.0"/>
	<add key="79" value="784.0"/>
	<add key="115" value="6271.9"/>
	<add key="44" value="103.8"/>
	<add key="80" value="830.6"/>
	<add key="116" value="6644.9"/>
	<add key="45" value="110.0"/>
	<add key="81" value="880.0"/>
	<add key="117" value="7040.0"/>
	<add key="46" value="116.5"/>
	<add key="82" value="932.3"/>
	<add key="118" value="7458.6"/>
	<add key="47" value="123.5"/>
	<add key="83" value="987.8"/>
	<add key="119" value="7902.1"/>
	<add key="48" value="130.8"/>
	<add key="84" value="1046.5"/>
	<add key="120" value="8372.0"/>
	<add key="49" value="138.6"/>
	<add key="85" value="1108.7"/>
	<add key="121" value="8869.8"/>
	<add key="50" value="146.8"/>
	<add key="86" value="1174.7"/>
	<add key="122" value="9397.3"/>
	<add key="51" value="155.6"/>
	<add key="87" value="1244.5"/>
	<add key="123" value="9956.1"/>
	<add key="52" value="164.8"/>
	<add key="88" value="1318.5"/>
	<add key="124" value="10548.1"/>
	<add key="53" value="174.6"/>
	<add key="89" value="1396.9"/>
	<add key="125" value="11175.3"/>
	<add key="54" value="185.0"/>
	<add key="90" value="1480.0"/>
	<add key="126" value="11839.8"/>
	<add key="55" value="196.0"/>
	<add key="91" value="1568.0"/>
	<add key="127" value="12543.9"/>
	<add key="56" value="207.7"/>
	<add key="92" value="1661.2"/>
	<add key="57" value="220.0"/>
	<add key="93" value="1760.0"/>
	<add key="58" value="233.1"/>
	<add key="94" value="1864.7"/>
	<add key="59" value="246.9"/>
	<add key="95" value="1975.5"/>
</notes>
</configuration>